<section>
  <div>
    <h1>User Login</h1>
    <% if session[:error] %>
      <%= react_component("Alert", props: {message: session[:error], variant: "danger"}, prerender: false) %>
    <% end %>

    <%= form_for(:auth, url: root_path, :html => {class: "login-form"}, local: true) do |form| %>

      <div class="form__entry">
        <%= form.label :username, :class => "form__entry" %>
        <%= form.text_field :username, :class => "form__input" %>
      </div>

      <div class="form__entry">
        <%= form.label :password, "Password", :class => "form__entry" %>
        <%= form.password_field :password, :class => "form__input" %>
      </div>

      <div class="form__entry center">
        <%= form.submit "Log in", class: "button button-add" %>
      </div>

    <% end %>
  </div>
</section>
